body{
 margin:0;
 padding:0;
 background:url(steering1.jpeg);
}
.container{
text-align: center;
margin-top:250px;
}
.btn{
display:inline-block;
border:1px solid #3498db;
box-shadow:0 0 15px 5px rgb(128,128,128);
width:28%;
background:none;
padding:30px 10px;
font-size:20px;
font-family:"Times new roman";
cursor:pointer;
margin:3%;
text-align:center;
transition:0.8s;
position:relative;
overflow:hidden;
}

.btn1{
color:Gold;
}
.btn1:hover{
color: black;
}

.btn::before{
content:"";
position:absolute;
left:0;
width:100%;
height:0%;
background:white;
z-index:-1;
transition:0.8s;
}
.btn1::before,.btn4::before{
top:0;
border-radius:0 0 50% 50%;
}
.btn2::before,.btn3::before{
bottom:0;
border-radius:50% 50% 0 0;
}
.btn2::before,.btn3::before{
height:180%;
}
.btn1:hover::before,.btn4:hover::before{
height:180%;
}
.btn2:hover::before,.btn3:hover::before{
height:0%;
}
